@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.grid {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    text-align: center;
}

.line-break {
    width: 100%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    width: 100%;
    text-align: center;
}